/*
  Css File for the following pages: 
  "layout.html"
  "edit_profile.html"
  "edit_questions.html"
  "login.html"
  "register.html"
*/

/********************* General CSS for all pages *********************/
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .bg-steel {
    background-color: #5f788a;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }

  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .error {
    color: red
}


/********************* Navigation Bar CSS *********************/

.navbar-dark
{
	background-color: rgb(255, 148, 77);
}


a.navbar-brand.mr-4
{
  color: black;
}

.nav-item:hover
{
	color: black;
	font-size: 25px;

}

.error {
    color: red
}


	
.icon {
	position:absolute;
	content: "";
	left:10px;
	top:10px;
	width:20px;
	height:20px;
	border-radius:10px;
	display:inline-block;
	background:red url(https://jamesmuspratt.com/codepen/img/checkmark.svg) no-repeat 2px 1px;
	background-size:16px auto;
	transition: all .3s ease-out; 

}


/********************* Edit profile Page *********************/
h3
{
  text-align: center;
 
}
label
{
  font-size: 24px;
}
.edit_form
{
  margin-left: 30px;
  padding: 35px;
  background-color: rgb(240, 195, 127);
}

#discard_button
{
  border-radius: 6px;
  color: white;
	background-color: rgb(196, 79, 79);
}
#discard_button:hover
{
	font-size: 20px;
	color: black;
}

#submit_button
{
  border-radius: 6px;
  color: white;
	background-color: rgb(255, 148, 77);
}
#submit_button:hover
{
	font-size: 20px;
	color: black;
}



/********************** Edit Questions Page **********************/
#recently_asked
{
  font-size: 25px;
}
#return_button
{
  border-radius: 6px;
  color: black;
	background-color: rgb(255, 148, 77);
}
#return_button:hover
{
	font-size: 20px;
	color: white;
}
#delete_button
{
  border-radius: 6px;
  color: black;
	background-color: rgb(196, 79, 79);
}
#delete_button:hover
{
	font-size: 20px;
	color: white;
}
#questions_asked
{
  background-color: rgb(222, 215, 206);
}
