/** Overall CSS */
*
{
	margin: 0;
	padding: 0;
}


/** Navigation Bar CSS */
.navbar-light
{
	background-color: rgb(255, 148, 77);
}


.nav-item:hover
{
	color: white;
	font-size: 25px;

}

.error {
    color: red
}

.vote-btn {
	appearance:none;
	border-radius:3px;
	border:0;
	background:#fff;
	padding:15px 12px 15px 40px;
	font:bold 9px/1.2 arial;
	text-transform:uppercase;
	letter-spacing:1px;
	color:red;
	box-shadow:0 1px 1px rgba(0,0,0,.2);
	outline:none;
	position:relative;
	transition: all .3s ease-out; 
	cursor:pointer;
	overflow:hidden;
}
	
.icon {
	position:absolute;
	content: "";
	left:10px;
	top:10px;
	width:20px;
	height:20px;
	border-radius:10px;
	display:inline-block;
	background:red url(https://jamesmuspratt.com/codepen/img/checkmark.svg) no-repeat 2px 1px;
	background-size:16px auto;
	transition: all .3s ease-out; 

}


/********************* User Profile Page *********************/

/** User Header as a whole **/
#user_header
{
	background-color: rgb(242, 233, 217);
	padding: 25px 25px 25px 25px;
}

/** User Info **/
#user_info
{
	background-color: rgb(240, 195, 127);
	padding: 10px 10px 10px 10px;
}

/** User Questions **/
/* #user_questions
{
	
} */
#user_asked_questions
{
	padding-top: 50px;
	padding-bottom: 50px;
}

/** Buttons **/
#user_sign_out_btn
{
	background-color: rgb(196, 79, 79);
}
#user_sign_out_btn:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-size: 20px;
	color: black;
}

#user_edit_profile_btn
{
	background-color: rgb(255, 148, 77);
}
#user_edit_profile_btn:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-size: 20px;
	color: black;
}

#user_ask_new_question_btn
{
	background-color: rgb(255, 148, 77);
}
#user_ask_new_question_btn:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-size: 20px;
	color: black;
}
#user_edit_asked_question_btn:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: black;
	font-size: 20px;
}



/********************* Home Page  *********************/

/** Questions Asked**/
#question_header
{
	padding: 25px;
}

.home_asked_questions
{
	margin: 25px 25px 25px 25px;
	background-color: rgb(242, 233, 217);
}

.home_asked_questions a
{
	padding: 25px;
	border-style: solid;
	border-width: 6px;
	border-color: rgb(255, 148, 77);
	background-color: rgb(242, 233, 217);
}

.home_asked_questions a h4
{
	color: rgb(105, 64, 8);
	padding-bottom: 25px;
	/**text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;**/

	font-size: 30px;
}


/********************* Answers to asked Questions  *********************/
#up_vote
{
	background-color: green;
}
#down_vote
{
	background-color: red;
}
#already_voted
{
	color: red;
	-moz-animation: cssAnimation 0s ease-in 3s forwards;
  
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}

#votes
{
	color: rgb(105, 64, 8);
}
.asked_question_header
{
	background-color: rgb(240, 195, 127);
	color: rgb(105, 64, 8);
	margin: 25px;
	padding: 25px;
}

.displayed_answers
{
	
	padding: 25px;
}

.individual_answer
{
	margin-top: 20px;
	padding: 25px;
	border-style: solid;
	border-width: 3px;
	background-color: rgb(242, 233, 217);
	border-color: rgb(240, 195, 127);
}

.displayed_answer_header
{
	font-size: 30px;
	color: rgb(87, 57, 17);
	
}

.prompt_user_to_answer
{
	padding: 25px;
	margin-left: 25px;
	background-color: rgb(240, 195, 127);
}
.prompt_user_to_answer label
{
	font-size: 20px;
	color: rgb(105, 64, 8);
}
.prompt_user_to_answer button
{
	background-color: rgb(255, 148, 77);
}
.prompt_user_to_answer button:hover
{
	background-color: rgb(255, 148, 77);
	font-size: 20px;
	color: black;
}

.prompt_user_to_sign_in
{
	padding: 25px;
	margin-left: 25px;
	background-color: rgb(240, 195, 127);
}
.prompt_user_to_sign_in small
{
	font-size: 15px;
}


/********************* Ask Page  *********************/
.ask_a_question
{
	padding: 25px;
	margin-left: 25px;
	background-color: rgb(240, 195, 127);
}
.ask_a_question label
{
	font-size: 20px;
	color: rgb(105, 64, 8);
}
.ask_a_question button
{
	background-color: rgb(255, 148, 77);
}
.ask_a_question button:hover
{
	background-color: rgb(255, 148, 77);
	font-size: 20px;
	color: black;
}


/********************* About Page  *********************/
.about_info
{
	background-color: rgb(240, 195, 127);
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 25px;
}

#creators_header
{
	color: rgb(105, 64, 8);
}

#creators
{
	padding: 5px;
}
#creators:hover
{
	font-size: 30px;
	color: rgb(255, 148, 77);
	padding: 5px;
}

.mission
{
	background-color: rgb(240, 195, 127);
	margin-left: 40px;
	margin-right: 40px;
	padding: 25px;
}
#mission_text
{
    overflow-wrap: break-word;
    white-space: normal;
	font-size: 25px;
}
