<!-- About Page-->

{% extends "home.html" %}
{% block title %} AfterOfficeHours{% endblock %}
{% block content %}
<div class="about_info">
    <h1 id="creators_header">Website creators: </h1>
    <h3 id="creators">Arsany Fahmy</h3>
    <h3 id="creators"> Sherief Soliman</h3>
    <h3 id="creators">Lin</h3>
    <h3 id="creators">Krishnna Shanmugam </h3>
    <h3 id="creators"> Mathilde Therrien-Quintal</h3>
</div>
<br>
<br>
<div class="mission">
    <h1 id="mission_text">
        We are a small group with a BIG goal. This website is intended to help the poor lost students in the big world of 
        confusion and uncertainty. Being students ourselves, we understand what these poor souls go through on a daily basis. 
        Being hunted by deadlines and projects, these students often find themselves lonely without help nor guide. That's why we
        decided to build this website, in order to help the community with a platform which would allow anybody to ask and answer 
        questions or doubts that anyone might have. We help students pursue a brighter future. IN HELP WE TRUST
    </h1>

</div>
{% endblock content %}