{% extends "layout.html" %}
{% block content %}
    <div class="edit_form">

        <h3 id="edit_title">Edit One of your questions</h3>
        <br>
        
        <!-- Recently asked questions -->
        <div class="col-9" id="user_questions">
            
            <div id="user_asked_questions">
                {% if questions %}
                <h2 id="recently_asked">Your recenty asked questions:</h2>
                <br>
                    {% for question in questions %}
                    <form action="{{ url_for('edit_questions') }}" method="post">
                        <a href="{{url_for('question', question_id = question.id)}}" class="list-group-item" id="questions_asked">
                            <p class="list-group-item-heading">{{ question.q_text }}</p>
                            <p class="list-group-item-text">Asked by: {{ question.asked_by_id }}</p>
                            <p class="list-group-item-text">Poseted on: {{ question.post_time }}</p>
                            <p class="list-group-item-text">Solved? {{ question.solved }}</p>
                        </a>
                        <input name="question_id" type="hidden" value="{{question.id}}">
                        <input type="submit" value="Delete Question" id="delete_button">
                        <br>
                        <br>
                    </form>
                    <br>
                    {% endfor %}

                {% else %}
                    <h2>It looks like you haven't asked any questions yet!</h2>
                {% endif %}
            </div>
        </div>

        <!-- Go back button-->
        <br>
        <button id="return_button" onclick="window.location.href='{{ url_for( 'profile') }}';">Go back</button>
 

    </div>
  
{% endblock content %}